name: Mirror to Personal Repo

on: [push]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - uses: yesolutions/mirror-action@master
        with:
          REMOTE: 'https://github.com/MarcoAtefCosman/autonomous-navigation-robile.git'
          GIT_USERNAME: 'MarcoAtefCosman'
          GIT_PASSWORD: ${{ secrets.PERSONAL_REPO_TOKEN }}
