name: Sync to Private Repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout public repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to private repo
        run: |
          git remote add private https://x-access-token:${{ secrets.PRIVATE_REPO_TOKEN }}@github.com/HBRS-AMR/amr-ws25-projects-amr-ws26-perception.git
          git push private main --force
